<!DOCTYPE html>
  <head>
    <title>Video Stream</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <style>
      body {
        background-color: lightgray;
      }
      img {
        border: 3px solid #f50057;
        border-radius: 25px;
      }
    </style>
  </head>
  <body>
    <div >
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand ms-2" style="color: #00e5ff" href="#"><b>(@_*)'</b></a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto ms-3 mb-2 mb-lg-0">
              <li class="nav-item me-4">
                <a class="nav-link active" style="color: #f50057" aria-current="page" href="http://127.0.0.1:5000">Trang chủ</a>
              </li>
              <li class="nav-item me-4">
                <a class="nav-link active" href="http://127.0.0.1:5000/api/streaming">Trực tiếp</a>
              </li>
              <li class="nav-item me-4">
                <a class="nav-link active" href="http://127.0.0.1:5000/api/videoplayback">Đã lưu</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <br>
      <div>
        <h4 class="text-center">From KMA with nove (*_^)'</h4>
        <br>
        <div class="text-center">
          <img id="imgDiv" src="{{ url_for('static', filename='img/default.jpg') }}" height="480" width="640">
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/socket.io.min.js') }}" type="text/javascript"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/source.js') }}"></script>
  <br><br>
  <footer class="bg-light text-center text-lg-start">
    <div class="text-center p-3">
      ©2020 From KMA with love (*_^)' 
    </div>
  </footer>
</html>